hr.stripes {
  background-color: #ffffff;
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #7d7e92, #7d7e92 2px, #ffffff 2px, #ffffff 10px );
  
  /* background-color: grey ; */
  height: 15px;
}

h1 {
  font-family: 'Dancing Script';
}

fieldset {
  background-image: url(images/list-bg.png);
}

/* Footer */

/* #footerHR:after img {

} */